/* Home Page */
nav {
    background-color: darkolivegreen;
    padding: 5px;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    gap: 15px;
}

nav li {
    padding: 5px;
    display: inline-block;
}

nav li:hover {
    background-color: lightgray;
    padding: 5px;
}

nav a {
    text-decoration: none;
    color: antiquewhite;
    font-weight: bold;
}

#header {
    text-align: center;
}

.flightButton{
    width: 250px;
    height: 75px;
    display: block;
    margin: 0 auto;
    background-color: darkolivegreen;
    color:antiquewhite;
}

.flightText {
    display: block;
    margin: 0 auto;
    width: 300px;
    padding: 10px;
    font-size: 16px;
    border: 2px solid #ccc;
    border-radius: 5px;
}

/* About Page */
.aboutSection {
    text-align: center;
    display: block;
    margin: 0 auto;
    margin-top: 20px;
    width: 800px;
    padding: 15px;
    border: 10px solid antiquewhite;
    background-color: darkolivegreen;
    color: antiquewhite;
}

/* Help Page  */

.helpSection {
    display: flex;
    width: 600px;
    gap: 20px; 
    padding: 20px;
    border: 10px solid antiquewhite;
    background-color: darkolivegreen;
    color: antiquewhite;
}


.usageGuide, .FAQs {
    width: 200px;
    height: auto;
    padding: 10px;
    border: 5px solid antiquewhite;
    background-color: darkolivegreen;
}