/* Home Page */
nav {
    background-color: darkolivegreen;
    padding: 5px;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    gap: 15px;
}

nav li {
    padding: 5px;
    display: inline-block;
}

nav li:hover {
    background-color: lightgray;
    padding: 5px;
}

nav a {
    text-decoration: none;
    color: antiquewhite;
    font-weight: bold;
}

#header {
    text-align: center;
}

.flightButton{
    width: 250px;
    height: 75px;
    display: block;
    margin: 0 auto;
    background-color: darkolivegreen;
    color:antiquewhite;
}

/* About Page */
.aboutSection {
    text-align: center;
    display: block;
    margin: 0 auto;
    margin-top: 20px;
    width: 1000px;
    padding: 15px;
    border: 10px solid antiquewhite;
    background-color: darkolivegreen;
    color: antiquewhite;
}